Source: ros-kinetic-py-trees
Section: misc
Priority: extra
Maintainer: Daniel Stonier <stonier@yujinrobot.com>
Build-Depends: debhelper (>= 9.0.0), python-setuptools, ros-kinetic-catkin
Homepage: http://py-trees.readthedocs.io
Standards-Version: 3.9.2

Package: ros-kinetic-py-trees
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python-enum34, python-pydot
Description: Pythonic implementation of behaviour trees.
